.animated-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.animated-button::after {
    content: "";
    background: #FFF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.animated-button:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.fancy-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #673AB7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.fancy-button i {
    margin-right: 10px;
}

.fancy-button::after {
    content: "";
    background: #FFF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.fancy-button:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.icon-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CEA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon-button i {
    margin-right: 10px;
}
